REMOTE_USER=ecs-user
HOSTS_CSV=172.27.20.236,172.27.20.238
REMOTE_REPO_DIR=/home/ecs-user/TDID-Final
REMOTE_MINIMAL_DIR=/home/ecs-user/tdid-remote-minimal
OCCLUM_BIN=/opt/occlum/build/bin/occlum
OCCLUM_GO=/opt/occlum/toolchains/golang/bin/occlum-go
INSTANCE_DIR=/home/ecs-user/TDID-Final/enclave/occlum/instance
FORCE_REBUILD=1
