REMOTE_USER=ecs-user
HOSTS_CSV=172.27.20.236,172.27.20.238
REMOTE_REPO_DIR=/home/ecs-user/TDID-Final
REMOTE_MINIMAL_DIR=/home/ecs-user/tdid-remote-minimal
OCCLUM_BIN=/opt/occlum/build/bin/occlum
OCCLUM_GO=/opt/occlum/toolchains/golang/bin/occlum-go

# adopt-current | build-from-source
MODE=adopt-current
RELEASE_ID=20260401a2
REBUILD_INSTANCE=1
RESTART_SERVICES=1

# used only for MODE=build-from-source
BUILD_TARGET=./enclave/cmd/tee_enclave_service
BUILD_OUTPUT_BASENAME=tee_enclave_service
BUILD_ENV=CC=/opt/occlum/toolchains/gcc/bin/occlum-gcc
BUILD_CMD=/opt/occlum/toolchains/golang/bin/occlum-go build
EXPECTED_INTERPRETER=/lib/ld-musl-x86_64.so.1
