REMOTE_USER=ecs-user
HOSTS_CSV=172.27.20.236
REMOTE_MINIMAL_DIR=/home/ecs-user/tdid-remote-minimal
OCCLUM_BIN=/opt/occlum/build/bin/occlum
TARGET_RELEASE_ID=20260401a2m7
REBUILD_INSTANCE=1
RESTART_SERVICES=1
