REMOTE_USER=ecs-user
HOSTS_CSV=tee-a.example.internal,tee-b.example.internal
REMOTE_REPO_DIR=/opt/tdid/tdid-open-minimal/tee
REMOTE_MINIMAL_DIR=/opt/tdid/tdid-remote-minimal
OCCLUM_BIN=/opt/occlum/build/bin/occlum
OCCLUM_GO=/opt/occlum/toolchains/golang/bin/occlum-go
INSTANCE_DIR=/opt/tdid/tdid-open-minimal/tee/enclave/occlum/instance
FORCE_REBUILD=1
