REMOTE_USER=ecs-user
HOSTS_CSV=tee-a.example.internal,tee-b.example.internal
REMOTE_REPO_DIR=/opt/tdid/tdid-open-minimal/tee
REMOTE_MINIMAL_DIR=/opt/tdid/tdid-remote-minimal
OCCLUM_BIN=/opt/occlum/build/bin/occlum
OCCLUM_GO=/opt/occlum/toolchains/golang/bin/occlum-go

# adopt-current | build-from-source
MODE=adopt-current
RELEASE_ID=20260401a2
REBUILD_INSTANCE=1
RESTART_SERVICES=1

# used only for MODE=build-from-source
BUILD_TARGET=./enclave/cmd/tee_enclave_service
BUILD_OUTPUT_BASENAME=tee_enclave_service
BUILD_ENV=CC=/opt/occlum/toolchains/gcc/bin/occlum-gcc
BUILD_CMD=/opt/occlum/toolchains/golang/bin/occlum-go build
EXPECTED_INTERPRETER=/lib/ld-musl-x86_64.so.1
